<!-- We will be using ngPrime to develop this page. -->

<div class="empDetails">

  <div class="fullform pb5 ba ">
    <!--     heading -->
    <div class="formtitle pa2 bg-blue white tc flex justify-between items-center">
      <div class="f3">
        <span *ngIf="(empdata?.empid) ; else newprofile">Edit Profile: {{empdata.empid}}</span>
        <ng-template #newprofile>
          <span>Create New Employee Record</span>
        </ng-template>
      </div>
      <div class="flex justify-end">
        <button pButton type="button" (click)="count()" label="Submit" class="ui-button-success"></button>
        &nbsp;
        <button pButton type="button" (click)="count()" label="Cancel" class="ui-button-warning"></button>
      </div>
    </div>
    <!--     main body -->
    <!--     we will create it row wise -->
    <div class="formbody pa2">



      <div class="row2elem">
        <div class="c1">
          <div class="am_element">
            <label for="ip1" class="fw6">Emp ID</label>
            <br>
            <input class="child1" placeholder="Employee ID" type="text" pInputText />
          </div>
        </div>

        <div class="c2">
          <div class="am_element">
            <label for="ip1" class="fw6">Full Name</label>
            <br>
            <input class="child2" placeholder="Full Name" type="text" pInputText />
          </div>
        </div>

      </div>


      <br>



      <div class="row2elem">
        <div class="c1">
          <div class="am_element">
            <label class="fw6">Designation</label>
            <br>
            <p-dropdown placeholder="Designation" [style]="{'width':'100%'}" class="child1" [options]="designationList" [(ngModel)]="selectedDesig"></p-dropdown>
          </div>
        </div>

        <div class="c2">
          <div class="am_element">
            <label class="fw6">Location</label>
            <br>
            <p-dropdown [options]="locationList" placeholder="Location" [style]="{'width':'100%'}" [(ngModel)]="selLoc"></p-dropdown>
          </div>

        </div>
      </div>

      <br>
      <br>
      <!-- am_con starts -->

      <div class="am_con">
        <div class="legend"> Experience </div>
        <div class="content">
          <div class="row2elem">
            <div class="c1">
              <label class="fw6">Total Experience</label>
              <br>
              <p-dropdown [style]="{'width':'100%'}" [options]="expList" [(ngModel)]="selectedTotalExp"></p-dropdown>
            </div>

            <div class="c2">
              <label class="fw6">TCS Experience</label>
              <br>
              <p-dropdown [options]="expList" [style]="{'width':'100%'}" [(ngModel)]="selectedTCSExp"></p-dropdown>
            </div>

          </div>
        </div>
      </div>
      <!-- am_con ends -->

      <br>
      <br>

      <!-- am_con starts -->

      <div class="am_con">
        <div class="legend"> Onboarding and Offboarding Details </div>
        <div class="content">
          <div class="row2elem">

            <div class="c1">
              <label class="fw6">Start Date</label>
              <br>
              <p-calendar [(ngModel)]="startDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
            </div>

            <div class="c2">
              <label class="fw6">Release Date</label>
              <br>
              <p-calendar [(ngModel)]="releaseDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
            </div>

          </div>
        </div>
      </div>
      <!-- am_con ends -->
      <br>
      <br>
      <!-- project tagging for the associate -->

      <div class="am_con">
        <div class="legend"> Project Details </div>
        <div class="content">
          <div class="row2elem">

            <div class="c1">
              <div class="am_element">
                <label for="ip1" class="fw6">Project/s Tagged to</label>
                <br>
                <p-multiSelect [options]="projectList" [(ngModel)]="selectedProjects" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
                <p>
                  <strong>Projects</strong>: {{selectedProjects}}
                </p>
              </div>
            </div>

            <div class="c1">
              <div class="am_element">
                <label for="ip1" class="fw6">Reporting Manager/s</label>
                <br>
                <p-multiSelect [options]="managerList" [(ngModel)]="selectedManagers" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
                <p>
                  <strong>Reporting Managers</strong>: {{selectedManagers}}
                </p>
              </div>
            </div>

          </div>

        </div>
      </div>

      <br>
      <br>

      <!-- competencies     -->
      <div class="am_con">
        <div class="legend"> Competencies</div>
        <div class="content">
          <p-button (onClick)="count()" label="Add"></p-button>

        </div>
      </div>
      <br>
      <br>

      <!-- certifications     -->
      <div class="am_con">
        <div class="legend"> Certifications</div>
        <div class="content">
          <p-button (onClick)="count()" label="Add"></p-button>

        </div>
      </div>
      <br>
      <br>
      <div class="flex justify-end">
        <button pButton type="button" (click)="count()" label="Submit" class="ui-button-success"></button>
        &nbsp;
        <button pButton type="button" (click)="count()" label="Cancel" class="ui-button-warning"></button>
      </div>

    </div>
    <!--     form body ends -->
  </div>
  <!-- fullform ends here -->


</div>
