@import url('https://fonts.googleapis.com/css?family=Open+Sans');
div.container {
    margin: 0px;
    padding: 0px;
    background: url('../../assets/images/clouds.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: top top;
    color: white;
    font-family: 'Open Sans', sans-serif;
}