@import url('https://fonts.googleapis.com/css?family=Open+Sans');
div.container {
    margin: 0px;
    padding: 0px;
    background: url('../../assets/images/clouds.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: top top;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

button.login {
    border-radius: 10px;
    border-style: none;
    height: 36px;
    font-family: 'Open Sans', sans-serif;
    background-color: #d63031;
    color: white;
}

button.login:focus {
    outline: none;
}

button.login:hover {
    cursor: pointer;
    background-color: #d63031;
}